* {
  box-sizing: border-box;
}
body {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    border: 1px solid black;
  
    width: 29%;
    margin: 5px 5px 5px 5px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    border: 1px solid green;
    width: 40%;
    margin: 5px 5px 5px 5px;
  }
   .col-md-7 {
    float: left;
    border: 1px solid green;
    width: 81%;
    margin: 5px 5px 5px 5px;
  }
}
@media (max-width: 767px) {
   .col-sd-12 {
    float: left;
    border: 1px solid green;
    width: 100%;
    margin: 5px 5px 5px 5px;
  }
}
h1 {
  /*margin-bottom: 15px;*/
  text-align: center;

}
h2 { margin: 0px 0px 10px 0px; }
div {
  background-color: #A52A2A;
  width: 90%;
  height: 120%;
  font-family: Helvetica;
  color: white;
  position: relative;
  box-sizing: border-box;
  top: 20px;
  
}
/*.box {
  border: 2px solid black;
  
}*/

/* Simple Responsive Framework. */
.row {
  width: 100%;
}






p {
  /*border: 1px solid black;*/
  position: relative;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 2px;
  margin-bottom: 2px;

  
}
#p1 {
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: blue /*#A52A2A*/;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black; 
  box-sizing: border-box;
  
  
}
#p2 {
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: #DEB887;
   position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black; 
  box-sizing: border-box;
}
#p3 {
  width: 120px;
  height: 30px;
  text-align: center;
  background-color: #FF7F50/*#5F9EA0*/;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black; 
  box-sizing: border-box;
}
